/* styles.css */

/* Basic styling */
body {
  font-family: Arial, sans-serif;
}

header {
  padding: 20px 10px 0px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav a {
  color: #fff !important;
  text-decoration: none;
}


.banner-section{
    background-color: #000;
    width:100%;
    color: #fff;
    background-image: url(./images/image1.jpeg);
    background-repeat: no-repeat;
    position: relative;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.banner-section::before{
    background-color: rgba(0, 0, 0, 0.80);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }


section {
  margin-bottom: 30px;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
}

.blog-post {
  width: calc(50% - 20px);
  margin: 10px;
}


.carousel-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carousel-container .carousel {
    width: 60%;
    margin-right: 20px;
  }
  .gallery {
    width: 40%;
  }
  .gallery img {
    width: 100%;
    margin-bottom: 10px;
  }

.calc-div{
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    display: grid;
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
    position: relative;
    width: 100%;
}
.calc-div .calc-col{
    display: flex;
    flex-direction: column;
    height: -webkit-max-content;
    height: max-content;
    justify-content: space-between;
    margin-bottom: 10px;
    
    background-color: #EFF4F4FF !important;
    padding: 46px 40px 40px 40px !important;
    margin: 0px 0px 0px 0px !important;
    border-radius: 20px !important;
    border: 2px solid #0000001A !important;
    -webkit-box-shadow: 0px 0px 0px #ffffff;
    -moz-box-shadow: 0px 0px 0px #ffffff !important;
    box-shadow: 0px 0px 0px #ffffff !important;
}

.calc-heading{
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #000000 !important;
    text-transform: capitalize !important;
    margin-bottom: 20px;
}
.calc-item__title{
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #000000 !important;
    margin-bottom: 4px;
}
.calc-col > .row{
    margin-bottom: 20px;
}
.calc-col input[type="number"], #quoteForm input, #quoteForm textarea{
    border-radius: 4px;
    border: 2px solid #0000001A !important;
    box-shadow: none;
    box-sizing: border-box;
    color: #001931;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    min-height: 46px;
    outline: none;
    text-transform: none;
    width: 100%;
    padding: 12px 20px !important;
    border-radius: 0px !important;
    background: #fff;
}
#quoteForm textarea{
    height: 200px;
    font-size: 14px;
}

.calc-col select{
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    min-height: 46px;
    outline: none;
    text-transform: none;
    width: 100%;
    padding: 12px 20px !important;
    border-radius: nullpx !important;
    border: 2px solid #0000001A !important;
}

.calc-item__description{
    margin-top: 10px;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #00000080 !important;
}
.calc-col-val > .row.calc-val-row {
    border-bottom: 1px dashed #ccc;
    margin: 0 auto;
    margin-bottom: 25px !important;
    padding-bottom: 6px;
    width: 100%;
    color: #000000 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}
.calc-col-val > .row > *{
    padding-left: 0px;
}
.sub-inner{
    padding-left: 15px !important;
    margin-top: 20px;
    color: #000000B3 !important;
    font-size: .9em !important;
    font-weight: 500;
    text-transform: none;
    width: 100%;
}
.calc-item__value {
    text-align: right;
}

.banner-head{
    font-size: 70px;
    font-weight: 500;
    text-transform: none;
    line-height: 1em;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;
    mix-blend-mode: luminosity;
}

.contact-form{
    padding: 10px 25px 10px;
    margin: 40px auto 30px;
    box-shadow: 0px 0px 10px 0px rgba(248.465625, 248.465625, 248.465625, 0.5);
    width: 80%;
    border-radius:11px;
}
.contact-title{
    font-size: 12px !important;
    color: #fff !important;
    margin-bottom: 4px;
}
.contact-form textarea, .contact-form input{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #33475b;
    border: 1px solid #cbd6e2;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    border-radius: 11px;
    box-sizing: border-box;
    outline: none;
    background-color: #f5f8fa;
    padding: 9px 10px;
    width:100%;
    background-clip: padding-box;
}
.contact-form textarea{
    resize: vertical;
    height: 80px;
}
.contact-form input{
    margin-bottom: 18px;
    display: inline-block;
    height: 40px;
}
.submit-row{
    text-align:center;
}
.submit-row button{
    border-radius: 3px;
    width: 80%;
    padding: 10px 0px;
    margin: 12px 0px;
}
#quoteForm .contact-title{
    color: #000 !important;
    margin-bottom: 5px;
}
#quoteForm > .row{
    margin-bottom: 12px;
}


.vendors img{
    width: 128px;
}
.project-detail{
    padding: 50px 0% 50px;
    width:101%;
    text-align: center;
    background: #ddd;
}
.project-detail .bi,
.service-detail .bi{
    font-size: 2rem;
    color: #ff5f11;
}
.service-detail{
    margin: 70px 0px 0px;
    text-align: center;
}
.footer-container{
    margin: 70px 0px 0px;
    background: #000;
    color: #fff;
    min-height: 400px;
    padding: 20px;
}
.footer-container .contact-info{
    padding: 50px 0px 20px 5%;
}
.footer-container .contact-info p{
    margin: 0px;
}
/*.carousel-inner .active.left  { left: -33%;             }
.carousel-inner .active.right { left: 33%;              }
.carousel-inner .next         { left: 33%               }
.carousel-inner .prev         { left: -33%              }
.carousel-control.left        { background-image: none; }
.carousel-control.right       { background-image: none; }
.carousel-inner .item         { background: white;      }
.carousel-inner img{
    display: block;
    height: auto;
    max-width: 100%;
}
.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}*/